html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

.nav-item .bi {
  width: 2rem;
  font-size: 1.5rem;
  vertical-align: bottom;
}
.nav-item a {
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
}
.nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}
.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.ribbon {
  background-color: #CC2936;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.monaco-editor-container {
  height: 400px;
}

.pixel-image {
  image-rendering: pixelated;
}

.profile-image {
  max-width: 256px;
}

.profile-cards .col {
  max-width: 400px;
}
