@page "/settings"

@using System.Threading.Tasks

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h1>Settings</h1>

<button type="button" class="btn btn-danger btn-large px-4 mx-2 mt-2" @onclick="e => ResetAllDataAsync()">
    Reset All Data
</button>

@code {
    public async Task ResetAllDataAsync()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.clear");

        NavigationManager.NavigateTo(NavigationManager.BaseUri, forceLoad: true);
    }
}
