@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome to Dungeon Bot</h1>
    <p>Dungeon Bot is a C# programming game played in Visual Studio.  The game is currently under development and will be available to try soon.</p>
</div>
