@inherits LayoutComponentBase

<PageTitle>Dungeon Bot</PageTitle>

<NavMenu />

<main>
    <div class="ribbon d-none d-lg-block">
        <a href="https://github.com/bofirial/DungeonBot">Fork me on GitHub</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>