@using DungeonBotGame.Store.Adventures

@if (Adventure != null)
{
    <h2>@Adventure.Name</h2>
    <p>@Adventure.Description</p>

@*    <div class="card">
      <h4 class="card-header">
        Abandoned Cave
      </h4>
      <div class="card-body">
        <AdventureMap Map="@Adventure.AdventureMap"></AdventureMap>
      </div>
    </div>*@

}

@code {
    [Parameter]
    public AdventureViewModel? Adventure { get; set; }
}