
@if (Map != null)
{
    <div class="d-flex flex-wrap-reverse justify-content-center align-items-center">
    @for (short y = 0; y < GetMapTotalColumns(Map); y++)
    {
        <div class="d-flex w-100 justify-content-center align-items-center">
        @for (short x = 0; x < GetMapTotalRows(Map); x++)
        {
            <img class="map-cell pixel-image m-1" src="@GetImagePath(Map, x, y)" data-x="@x" data-y="@y"/>
        }
        </div>
    }
    </div>
}

@code {
    [Parameter]
    public Combat.AdventureMap? Map { get; set; }

    short GetMapTotalRows(Combat.AdventureMap map)
    {
        return map.MaxDimensions.X;
    }

    short GetMapTotalColumns(Combat.AdventureMap map)
    {
        return map.MaxDimensions.Y;
    }

    string GetImagePath(Combat.AdventureMap map, short x, short y)
    {
        return $"https://dungeonbot.net/{GetBackgroundRelativeImagePath(map, x, y)}";
    }

    string GetBackgroundRelativeImagePath(Combat.AdventureMap map, short x, short y)
    {
        var backgroundLocation = map.Locations.FirstOrDefault(l => l.Location.X == x && l.Location.Y == y);

        if (backgroundLocation != null)
        {
            return backgroundLocation.ImagePath;
        }

        return "images/empty.png";
    }
}
