@using DungeonBotGame.Store.Adventures

@if (Adventure != null)
{
    <h2>@Adventure.Name</h2>
    @*<p>@Adventure.Description</p>*@


    <div class="row justify-content-evenly row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 mb-3 profile-cards">

    </div>
}

@code {

    [Parameter]
    public AdventureViewModel? Adventure { get; set; }
}