@using BlazorMonaco
@using BlazorMonaco.Bridge
@using DungeonBotGame.Client.BusinessLogic
@using Microsoft.AspNetCore.Components

<div class="code-editor">
    <MonacoEditor @ref="CSharpEditor" Id="monaco-container" ConstructionOptions="EditorConstructionOptions"></MonacoEditor>
</div>

@code {
    [Parameter]
    public string Value { get; set; } = string.Empty;

    @inject ICodeCompletionService CodeCompletionService

    private MonacoEditor? CSharpEditor { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await CodeCompletionService.InitializeCodeEditorAsync();

        await base.OnInitializedAsync();
    }

    public async Task<string> GetValueAsync()
    {

        if (CSharpEditor == null)
        {
            return string.Empty;
        }

        return await CSharpEditor.GetValue();
    }

    public async Task SetValueAsync(string value)
    {
        Value = value;

        if (CSharpEditor != null)
        {
            await CSharpEditor.SetValue(value);
        }
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "csharp",
            Theme = "vs-dark",
            Value = Value
        };
    }
}