<Modal ModalId="@ModalId" ModalTitle="@ModalTitle" IsClosable="false" @ref="Modal">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</Modal>

@code {
    [Parameter]
    public string? ModalTitle { get; set; }

    [Parameter]
    public string ModalId { get; set; } = Guid.NewGuid().ToString();

    public Modal? Modal { get; set; }

    public async Task StartSpinnerAsync()
    {
        if (Modal != null)
        {
            await Modal.ShowAsync();
        }
    }

    public async Task StopSpinnerAsync()
    {
        if (Modal != null)
        {
            await Modal.CloseAsync();
        }
    }
}
